@{
    ViewData["title"] = "Личный кабинет";
    Layout = "_FooterLayout";
}
    
<body>

    <div class="container-fluid">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="navbar-header">
                        <img src="/images/logo.png">
                    </div>
                </div>
                <div class="row col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="navig">
                            <ul class="nav navbar-nav">
                                <li>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</li>
                                <li><a asp-action="Logout" asp-controller="Account"><font color="white">Выйти</font></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            Найти
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" product container">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img class="picture" src="/images/1.png">
                </div>
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="name">
                        <p>Palit GeForce GTX 1050 Ti 1366Mhz PCI-E 3.0 4096Mb</p>
                    </div>
                    <div class="setting">
                        <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-1">Настройки</button>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="price"><p><b>Цена 9820 &#8381</b></p></div>
                    <div class="dyn">
                        <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2">Динамика</button>
                    </div>
                    <div class="unsub">
                        <button type="button" class="btn-1 btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" product container">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img class="picture" src="/images/1.png">
                </div>
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="name">
                        <p>Palit GeForce GTX 1050 Ti 1366Mhz PCI-E 3.0 4096Mb</p>
                    </div>
                    <div class="setting">
                        <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-1">Настройки</button>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="price"><p><b>Цена 9820 &#8381</b></p></div>
                    <div class="dyn">
                        <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2">Динамика</button>
                    </div>
                    <div class="unsub">
                        <button type="button" class="btn-1 btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" product container">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img class="picture" src="/images/1.png">
                </div>
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="name">
                        <p>Palit GeForce GTX 1050 Ti 1366Mhz PCI-E 3.0 4096Mb</p>
                    </div>
                    <div class="setting">
                        <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-1">Настройки</button>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="price"><p><b>Цена 9820 &#8381</b></p></div>
                    <div class="dyn">
                        <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2">Динамика</button>
                    </div>
                    <div class="unsub">
                        <button type="button" class="btn-1 btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" product container">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img class="picture" src="/images/1.png">
                </div>
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="name">
                        <p>Palit GeForce GTX 1050 Ti 1366Mhz PCI-E 3.0 4096Mb</p>
                    </div>
                    <div class="setting">
                        <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-1">Настройки</button>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="price"><p><b>Цена 9820 &#8381</b></p></div>
                    <div class="dyn">
                        <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2">Динамика</button>
                    </div>
                    <div class="unsub">
                        <button type="button" class="btn-1 btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class=" product container">
            <div class="row">
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img class="picture" src="/images/1.png">
                </div>
                <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="name">
                        <p>Palit GeForce GTX 1050 Ti 1366Mhz PCI-E 3.0 4096Mb</p>
                    </div>
                    <div class="setting">
                        <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-1">Настройки</button>
                        </div>

                    </div>
                </div>

                <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="price"><p><b>Цена 9820 &#8381</b></p></div>
                    <div class="dyn">
                        <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2">Динамика</button>
                    </div>
                    <div class="unsub">
                        <button type="button" class="btn-1 btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="save">
                        <button class="btn-1 btn btn-info btn-lg" type="button">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4>Настройки</h4>
                </div>
                <div class="modal-body">
                    <a class="btn btn-link" type="button" data-toggle="collapse" href="#collapse-1">
                        Выберите филиал магазина<span class="caret"></span>
                    </a>
                    <div class="collapse shops" id="collapse-1">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="shop">
                                    <p>Магазин 1</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="shopcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="shop">
                                    <p>Магазин 2</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="shopcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="shop">
                                    <p>Магазин 3</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="shopcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="shop">
                                    <p>Магазин 4</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="shopcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="shop">
                                    <p>Магазин 5</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="shopcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-link" type="button" data-toggle="collapse" href="#collapse-2">
                        Выберите тип оповещения<span class="caret"></span>
                    </a>
                    <div class="collapse notification" id="collapse-2">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="shop">
                                    <p>Оповещение о наличии товара</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="notcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="shop">
                                    <p>Оповещение об изменении цены</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="notcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="styled-select slate">
                                    <select>
                                        <option><=</option>
                                        <option>>=</option>
                                    </select>
                                </div>

                            </div>
                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <input type="text" placeholder="Введите цену в &#8381">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="shop">
                                    <p>Регулярные оповещения</p>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <div class="notcheck">
                                    <form>
                                        <input id="check" type="checkbox" style="transform: scale(2)">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4>Диаграмма</h4>
                </div>
                <div class="modal-body">

                    <div id="curve_chart"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
   
</body>
