@model IEnumerable<Product>
@{
    ViewData["title"] = "Главная";
    Layout = "_FooterLayout";
    Product Product = new Product();
}   

<body>

    <div class="container-fluid">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="navbar-header">
                        <a asp-action="Index" asp-controller="Main"><img src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="row col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
                <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="navig">
                            <ul class="nav navbar-nav">
                                <li><a asp-action="PersonalCabinet" asp-controller="PersonalCabinet"><font color="white">Личный Кабинет</font></a></li>
                                <li><a asp-action="Logout" asp-controller="Account"><font color="white">Выйти</font></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <form asp-action="ShowProduct" asp-controller="Main" method="get">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="input-group custom-search-form">
                        <input type="text" name ="name" class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" name="" value="Найти" class="btn btn-info">
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </form>
       
        @if (ViewBag.Products != null)
        {

                @foreach (Product product in ViewBag.Products)
                {
                    <form asp-action="MonitorProduct" asp-controller="Main">
                        @Html.Partial("/Views/Product/_Product.cshtml", product);
                        @Html.Partial("/Views/Product/_NotificationSettings.cshtml", product)
                    </form>
                }

        }


    <br />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>	